#header{
    height: 50px;
    background: 10284e;
    color: #ffffff;

}

#branding h1 {
    color: #ffffff;
}

a:link
a:visited{
    color: 10284e;
}

div.breadcrumb {
    background: #10284e;
    color: #ffffff;
}

